---
applications:
- name: mike-test-4
  buildpack: https://github.com/cloudfoundry/java-buildpack
  path: ../build/libs/kanban-now-archive-card-service-2-0.1.0.jar
  env:
    stormpath_apiKey_id: ${stormpath_apiKey_id}
    stormpath_apiKey_secret: ${stormpath_apiKey_secret}

